<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
</head>
<body>
  <h1><%= @places[0] %></h1>

  <p>Hello <%= @name.capitalize %>. Do you like this option if not</p>

  <p><a href='/'>Try again.</a></p>

</body>
</html>