<!DOCTYPE html>
<html>
<head>
  <title>Where in London?</title>
</head>
<body>
  <div class='container'>
    <form method="post" action='/'>
      <input type='text' name='user_name' placeholder='name'>
      <input type='text' name='people' placeholder='number of people'>


      <input type='text' name='mood' placeholder='How happy are you? (/10)'>

      <button type='submit'>Submit</button>
    </form>
  </div>
</body>
</html>