<!DOCTYPE html>
<html>
<head>
  <title>Shoreditch</title>
</head>
<body>
 <h1><%= @places[2] %></h1>

  <p>Hello <%= @name.capitalize %>. Do you like this option if not</p>

  <p><a href='/'>Try again.</a></p>


  <a class="twitter-timeline" href="https://twitter.com/search?src=typd&q=<%= @places[2] %>%20%20%3A)" >Tweets about <%= @places[2] %> :)</a>

<iframe src="http://widget.websta.me/in/tag:Shoreditch/?s=100&w=10&h=10&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:1150px; height: 1150px" ></iframe> <!-- websta - web.stagram.com -->


</body>
</html>