<!DOCTYPE html>
<html>
<head>
  <title>Barman 2.0</title>
</head>
<body>
 <h1><%= @places[2] %></h1>

  <p>Hello <%= @name.capitalize %>. Do you like this option if not</p>

  <p><a href='/'>Try again.</a></p>


  <a class="twitter-timeline" href="https://twitter.com/search?src=typd&q=<%= @places[2] %>%20%20%3A)" >Tweets about <%= @places[2] %> :)</a>


<!-- INSTANSIVE WIDGET --><script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/b73dd6ba2f012fbeffca6fb4615187a0a2a40830.html" id="instansive_b73dd6ba2f" name="instansive_b73dd6ba2f"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>



</body>
</html>